#breadcrumb_bg {
	margin: 0 0 0 0 !important;
	min-height: 40px;
	padding-top: 12px;
}
#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
    padding-left: 0px;
}
 
#breadcrumbs li{
    float:left;
	margin-right:5px;
}
#breadcrumbs .separator{
    font-weight:700;
    font-size:20px;
    color:#999;
    margin-right:5px;
}
.blog-bg #breadcrumbs a {
	color: #000;
	text-decoration: underline;
}
.cat_continue {
	background: #000; 
	border: 1px #444 solid;
}
.cat_continue:hover {
	background: #111;
}